@use "./breakpoints";
@use "sass-rem" as rem;

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");

body {
  font-family: var(--primary-font);
  font-size: rem.convert(16px);
  line-height: 1.63;

  @include breakpoints.mq(wide) {
    font-size: rem.convert(18px);
    line-height: 1.56;
  }
}

h2 {
  color: var(--white);
  font-family: var(--primary-font);
  font-size: rem.convert(60px);
  font-weight: 400;
  line-height: 1.1;
  position: relative;

  &::after {
    border: 1px solid var(--white);
    bottom: -22px;
    content: "";
    height: 1px;
    left: 0;
    opacity: 0.2;
    position: absolute;
    width: 100%;
  }
}
