@use "./breakpoints";

:root {
  --primary-font: "Open Sans", sans-serif;
  --container-max-width: 1680px;
  --container-padding: 85px;
  --module-spacing: 60px;
  --gutter-width: 18px;

  @include breakpoints.mq(tablet) {
    --gutter-width: 24px;
  }

  @include breakpoints.mq(tabletLandscape) {
    --container-padding: 80px;
    --module-spacing: 150px;
    --gutter-width: 36px;
  }

  @include breakpoints.mq(wide) {
    --container-padding: 85px;
    --gutter-width: 48px;
  }
}
